#  rcfiles ignores
my_aliases
vim/perl-support/*
vim/bash-support/*


#  OSX ignores
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes


#  Linux ignores
!.gitignore
*~


#  Vim ignores
.*.sw[a-z]
*.un~
Session.vim
.VimballRecord

tags
