[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/SQLUtilities"]
	path = vim/bundle/SQLUtilities
	url = git://github.com/vim-scripts/SQLUtilities.git
[submodule "vim/bundle/SuperTab-continued"]
	path = vim/bundle/SuperTab-continued
	url = git://github.com/vim-scripts/SuperTab-continued..git
[submodule "vim/bundle/grep.vim"]
	path = vim/bundle/grep.vim
	url = git://github.com/vim-scripts/grep.vim.git
[submodule "vim/bundle/iptables"]
	path = vim/bundle/iptables
	url = git://github.com/vim-scripts/iptables.git
[submodule "vim/bundle/loremipsum"]
	path = vim/bundle/loremipsum
	url = git://github.com/vim-scripts/loremipsum.git
[submodule "vim/bundle/mru.vim"]
	path = vim/bundle/mru.vim
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "vim/bundle/numbered"]
	path = vim/bundle/numbered
	url = git://github.com/vim-scripts/numbered.vim.git
[submodule "vim/bundle/reload"]
	path = vim/bundle/reload
	url = git://github.com/vim-scripts/reload.vim.git
[submodule "vim/bundle/simplefold"]
	path = vim/bundle/simplefold
	url = git@github.com:cometsong/vim-simplefold.git
[submodule "vim/bundle/bash-support.vim"]
	path = vim/bundle/bash-support.vim
	url = git@github.com:cometsong/bash-support.vim.git
[submodule "vim/bundle/NERDcommenter"]
	path = vim/bundle/NERDcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/perl-support.vim"]
	path = vim/bundle/perl-support.vim
	url = git@github.com:cometsong/perl-support.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/netrw"]
	path = vim/bundle/netrw
	url = git://github.com/vim-scripts/netrw.vim.git
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "vim/bundle/ShowMarks7"]
	path = vim/bundle/ShowMarks7
	url = git://github.com/vim-scripts/ShowMarks7.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/AndrewRadev/ack.vim.git
[submodule "vim/bundle/CommentFrame.vim"]
	path = vim/bundle/CommentFrame.vim
	url = git@github.com:cometsong/CommentFrame.vim.git
[submodule "vim/bundle/Vim-JDE"]
	path = vim/bundle/Vim-JDE
	url = git://github.com/vim-scripts/Vim-JDE.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/thermometer"]
	path = vim/bundle/thermometer
	url = git://github.com/vim-scripts/thermometer.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/ZoomWin"]
	path = vim/bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git@github.com:cometsong/vim-powerline.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git@github.com:cometsong/YankRing.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = git://github.com/mutewinter/vim-indent-guides.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "vim/bundle/VisIncr"]
	path = vim/bundle/VisIncr
	url = git://github.com/vim-scripts/VisIncr.git
[submodule "vim/bundle/Archive"]
	path = vim/bundle/Archive
	url = git://github.com/ervandew/archive.git
[submodule "vim/bundle/Headlights"]
	path = vim/bundle/Headlights
	url = git://github.com/vim-scripts/Headlights.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/xptemplate"]
	path = vim/bundle/xptemplate
	url = git@github.com:cometsong/xptemplate.git
