[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/grep.vim"]
	path = vim/bundle/grep.vim
	url = git://github.com/vim-scripts/grep.vim.git
[submodule "vim/bundle/iptables"]
	path = vim/bundle/iptables
	url = git://github.com/vim-scripts/iptables.git
[submodule "vim/bundle/loremipsum"]
	path = vim/bundle/loremipsum
	url = git://github.com/vim-scripts/loremipsum.git
[submodule "vim/bundle/mru.vim"]
	path = vim/bundle/mru.vim
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "vim/bundle/numbered"]
	path = vim/bundle/numbered
	url = git://github.com/vim-scripts/numbered.vim.git
[submodule "vim/bundle/simplefold"]
	path = vim/bundle/simplefold
	url = git@github.com:cometsong/simplefold.vim.git
[submodule "vim/bundle/NERDcommenter"]
	path = vim/bundle/NERDcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/AndrewRadev/ack.vim.git
[submodule "vim/bundle/CommentFrame.vim"]
	path = vim/bundle/CommentFrame.vim
	url = git@github.com:cometsong/CommentFrame.vim.git
[submodule "vim/bundle/Vim-JDE"]
	path = vim/bundle/Vim-JDE
	url = git://github.com/vim-scripts/Vim-JDE.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/thermometer"]
	path = vim/bundle/thermometer
	url = git://github.com/vim-scripts/thermometer.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = git@github.com:cometsong/bufkill.vim.git
[submodule "vim/bundle/VisIncr"]
	path = vim/bundle/VisIncr
	url = git://github.com/vim-scripts/VisIncr.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/xptemplate"]
	path = vim/bundle/xptemplate
	url = git://github.com/drmingdrmer/xptemplate.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/SnipMgr"]
	path = vim/bundle/SnipMgr
	url = git://github.com/tlavi/SnipMgr.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/archive"]
	path = vim/bundle/archive
	url = git://github.com/ervandew/archive.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git://github.com/mbbill/undotree.git
[submodule "vim/bundle/pyref"]
	path = vim/bundle/pyref
	url = git://github.com/xolox/vim-pyref.git
[submodule "vim/bundle/jedi-python"]
	path = vim/bundle/jedi-python
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/tasklist"]
	path = vim/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/python-SimpylFold"]
	path = vim/bundle/python-SimpylFold
	url = git://github.com/tmhedberg/SimpylFold.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/IndexedSearch"]
	path = vim/bundle/IndexedSearch
	url = git@github.com:cometsong/IndexedSearch.vim.git
[submodule "vim/bundle/autocomplpop"]
	path = vim/bundle/autocomplpop
	url = git@github.com:cometsong/autocomplpop.vim.git
[submodule "vim/bundle/signature"]
	path = vim/bundle/signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/ferm.vim"]
	path = vim/bundle/ferm.vim
	url = git@github.com:cometsong/ferm.vim.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim/bundle/molokai-colors"]
	path = vim/bundle/molokai-colors
	url = git://github.com/tomasr/molokai.git
[submodule "vim/bundle/matchit.zip"]
	path = vim/bundle/matchit.zip
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/statline"]
	path = vim/bundle/statline
	url = git@github.com:cometsong/statline.vim.git
[submodule "vim/bundle/QuickFixCurrentNumber"]
	path = vim/bundle/QuickFixCurrentNumber
	url = https://github.com/vim-scripts/QuickFixCurrentNumber.git
[submodule "vim/bundle/quickrun"]
	path = vim/bundle/quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "vim/bundle/scratch.vim"]
	path = vim/bundle/scratch.vim
	url = git@github.com:cometsong/scratch.vim.git
[submodule "vim/bundle/snippets.vim"]
	path = vim/bundle/snippets.vim
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "apps/vcprompt"]
	path = apps/vcprompt
	url = git://github.com/djl/vcprompt.git
[submodule "vim/bundle/csv.vim"]
	path = vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/bundle/pathogen.vim"]
	path = vim/bundle/pathogen.vim
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/indent-guides.vim"]
	path = vim/bundle/indent-guides.vim
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/dbext.vim"]
	path = vim/bundle/dbext.vim
	url = git@github.com:vim-scripts/dbext.vim.git
[submodule "vim/bundle/sneak"]
	path = vim/bundle/sneak
	url = github:justinmk/vim-sneak.git
[submodule "vim/bundle/perl-support.vim"]
	path = vim/bundle/perl-support.vim
	url = git@github.com:vim-scripts/perl-support.vim.git
[submodule "vim/bundle/vim-support"]
	path = vim/bundle/vim-support
	url = git@github.com:vim-scripts/Vim-Support.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = git@github.com:benmills/vimux.git
[submodule "vim/bundle/lesscss"]
	path = vim/bundle/lesscss
	url = https://github.com/vitalk/vim-lesscss.git
[submodule "vim/bundle/writepath"]
	path = vim/bundle/writepath
	url = https://github.com/artnez/vim-writepath.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/less.vim"]
	path = vim/bundle/less.vim
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/Jinja2-Syntax"]
	path = vim/bundle/Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "vim/bundle/tube.vim"]
	path = vim/bundle/tube.vim
	url = https://github.com/gcmt/tube.vim.git
[submodule "vim/bundle/yaml-vim"]
	path = vim/bundle/yaml-vim
	url = https://github.com/ingydotnet/yaml-vim.git
[submodule "vim/bundle/find_yaml_key"]
	path = vim/bundle/find_yaml_key
	url = https://github.com/munen/find_yaml_key.git
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "vim/bundle/vimfiler"]
	path = vim/bundle/vimfiler
	url = https://github.com/Shougo/vimfiler.vim.git
[submodule "vim/bundle/windowswap"]
	path = vim/bundle/windowswap
	url = git@github.com:wesQ3/vim-windowswap.git
[submodule "vim/bundle/bash-support.vim"]
	path = vim/bundle/bash-support.vim
	url = git@github.com:vim-scripts/bash-support.vim.git
[submodule "vim/bundle/crunch"]
	path = vim/bundle/crunch
	url = https://github.com/arecarn/crunch.vim.git
[submodule "vim/bundle/selection"]
	path = vim/bundle/selection
	url = https://github.com/arecarn/selection.vim.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/cometsong/minibufexpl.vim.git
[submodule "vim/vim/bundle/vizardry"]
	path = vim/vim/bundle/vizardry
	url = git@github.com:ardagnir/vizardry.git
