[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/grep.vim"]
	path = vim/bundle/grep.vim
	url = git://github.com/vim-scripts/grep.vim.git
[submodule "vim/bundle/iptables"]
	path = vim/bundle/iptables
	url = git://github.com/vim-scripts/iptables.git
[submodule "vim/bundle/loremipsum"]
	path = vim/bundle/loremipsum
	url = git://github.com/vim-scripts/loremipsum.git
[submodule "vim/bundle/mru.vim"]
	path = vim/bundle/mru.vim
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "vim/bundle/numbered"]
	path = vim/bundle/numbered
	url = git://github.com/vim-scripts/numbered.vim.git
[submodule "vim/bundle/simplefold"]
	path = vim/bundle/simplefold
	url = git@github.com:cometsong/vim-simplefold.git
[submodule "vim/bundle/bash-support.vim"]
	path = vim/bundle/bash-support.vim
	url = git@github.com:cometsong/bash-support.vim.git
[submodule "vim/bundle/NERDcommenter"]
	path = vim/bundle/NERDcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/perl-support.vim"]
	path = vim/bundle/perl-support.vim
	url = git@github.com:cometsong/perl-support.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/AndrewRadev/ack.vim.git
[submodule "vim/bundle/CommentFrame.vim"]
	path = vim/bundle/CommentFrame.vim
	url = git@github.com:cometsong/CommentFrame.vim.git
[submodule "vim/bundle/Vim-JDE"]
	path = vim/bundle/Vim-JDE
	url = git://github.com/vim-scripts/Vim-JDE.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/thermometer"]
	path = vim/bundle/thermometer
	url = git://github.com/vim-scripts/thermometer.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/ZoomWin"]
	path = vim/bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = git://github.com/mutewinter/vim-indent-guides.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "vim/bundle/VisIncr"]
	path = vim/bundle/VisIncr
	url = git://github.com/vim-scripts/VisIncr.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/xptemplate"]
	path = vim/bundle/xptemplate
	url = git://github.com/drmingdrmer/xptemplate.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "vim/bundle/SnipMgr"]
	path = vim/bundle/SnipMgr
	url = git://github.com/tlavi/SnipMgr.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/archive"]
	path = vim/bundle/archive
	url = git://github.com/ervandew/archive.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git://github.com/mbbill/undotree.git
[submodule "vim/bundle/pyref"]
	path = vim/bundle/pyref
	url = git://github.com/xolox/vim-pyref.git
[submodule "vim/bundle/jedi-python"]
	path = vim/bundle/jedi-python
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/tasklist"]
	path = vim/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/python-SimpylFold"]
	path = vim/bundle/python-SimpylFold
	url = git://github.com/tmhedberg/SimpylFold.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/IndexedSearch"]
	path = vim/bundle/IndexedSearch
	url = git@github.com:cometsong/IndexedSearch.git
[submodule "vim/bundle/autocomplpop"]
	path = vim/bundle/autocomplpop
	url = git@github.com:cometsong/vim-autocomplpop.git
[submodule "vim/bundle/signature"]
	path = vim/bundle/signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/python_fold_compact"]
	path = vim/bundle/python_fold_compact
	url = git://github.com/sunsol/vim_python_fold_compact.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/bccalc"]
	path = vim/bundle/bccalc
	url = git://github.com/vim-scripts/bccalc.vim.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/ferm.vim"]
	path = vim/bundle/ferm.vim
	url = git@github.com:cometsong/ferm.vim.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim/bundle/molokai-colors"]
	path = vim/bundle/molokai-colors
	url = git://github.com/tomasr/molokai.git
[submodule "vim/bundle/toggle_maximize"]
	path = vim/bundle/toggle_maximize
	url = git://github.com/vim-scripts/toggle_maximize.vim.git
[submodule "vim/bundle/matchit.zip"]
	path = vim/bundle/matchit.zip
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/statline"]
	path = vim/bundle/statline
	url = git@github.com:cometsong/vim-statline.git
	;url = git://github.com/millermedeiros/vim-statline.git
